*~
tests/tmp
debian/tmp
debian/dgit
debian/git-debpush
debian/git-debrebase
debian/dgit-infrastructure
debian/files
debian/*.substvars
debian/*.log
debian/debhelper-build-stamp
debian/.debhelper
dgit-user.7
dgit-nmu-simple.7
dgit-maint-native.7
dgit-maint-merge.7
dgit-maint-gbp.7
dgit-maint-debrebase.7
dgit-maint-bpo.7
dgit-sponsorship.7
dgit-downstream-dsc.7
git-debrebase.1
git-debrebase.5
git-debpush.1
tag2upload.5
substituted
.po4a.translated-only
